[Unit]
Description=Check Environments for ISUCON12 Contestants
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/opt/isucon-env-checker/warmup.sh
ExecStart=/opt/isucon-env-checker/run-isucon-env-checker.sh

[Install]
WantedBy=multi-user.target
