[Unit]
Description=isucon12 qualify webapp
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=isucon
Group=isucon
WorkingDirectory=/home/isucon/webapp
ExecStart=docker compose -f docker-compose-go.yml up --build
ExecStop=docker compose -f docker-compose-go.yml down
Restart=always
