[Unit]
Description=isucon12 qualify auth server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=isucon
Group=isucon
WorkingDirectory=/home/isucon/blackauth
ExecStart=/home/isucon/blackauth/blackauth
Restart=always
