name: Test
on: [push]
jobs:
  test:
    strategy:
      matrix:
        go:
          - 1.18
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Get dependencies
      working-directory: ./backend
      env:
        TZ: Asia/Tokyo
      run: |
        go get -v -t -d ./...
    - name: Test
      working-directory: ./backend
      env:
        TZ: Asia/Tokyo
      run: |
        go test -v ./...